<h1>Create New Article </h1>
<form action="/articles" method="POST">
    <lable>Title:</lable>
    <input type="text" name="title">
    <lable>Content:</lable>
    <input type="text" name="content">
    <input type="submit">
</form>